@import "variables";

body {
  height: 100vh;
  margin: 0;
  padding: 0;
}

#particles-js {
  height: 100vh;
  width: 100vw;
  background: $colorDark;
  position: absolute;
  top: 0;
  z-index: 0;
}

main{
  z-index: 10;
  position: relative;
}

.container{
  width: 70vw;
  display: block;
  margin: auto;
  padding: 50px 0;
  
  svg{
    display: block;
    margin: auto;
    
    g>#circle{
      cursor: crosshair;
      -moz-box-shadow: 0px 0px 5px $colorBlueNeon;
      -webkit-box-shadow: 0px 0px 5px $colorBlueNeon;
      box-shadow: 0px 0px 5px $colorBlueNeon;
    }
  }
}



.container-btn-box{
  display: block;
  margin: auto;
  width: 30%; 
  padding: 20px 0;
  margin-top: 150px;
  position: relative;

}
.borderTop, .borderBottom{
  -webkit-box-shadow: 0px 0px 10px 5px rgba($colorBlueNeon,0.2);
  -moz-box-shadow: 0px 0px 10px 5px rgba($colorBlueNeon,0.2);
  box-shadow: 0px 0px 10px 5px rgba($colorBlueNeon,0.2);
  width: 100%;
  height: 2px;
  background: $colorBlueNeon;
}
.borderBottom{
  height: 4px;
}

.usableButton{
  text-align: center;
  background: transparent;
  border: none;
  color: $colorBlueNeon;
  font-family: $Iceland;
  font-size: 5em;
  text-transform: uppercase;
  display: block;
  margin: auto;
  text-shadow: 0px 0px 15px rgba($colorBlueNeon, 1);
  
}

.container-btn{
  position: absolute;
  bottom: -10%;
  right: 5%;
}

.blueLink{
  font-family: $Iceland;
  color: $colorBlueNeon;
  text-transform: uppercase;
  font-size: 2em;
  text-decoration: none;
  text-shadow: 0px 0px 15px rgba($colorBlueNeon, 1);
}
