@import "variables";


// General CSS here
body {
  height: 100vh;
  margin: 0;
  padding: 0;
}

main{
  z-index: 10;
  position: relative;
}
header{
  z-index: 10;
  position: relative;
}
.container{
  width: 70vw;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  padding: 50px 0;
  
  svg{
    display: block;
    margin: auto;
    
    g>#circle{
      cursor: crosshair;
      -moz-box-shadow: 0 0 5px $colorBlueNeon;
      -webkit-box-shadow: 0 0 5px $colorBlueNeon;
      box-shadow: 0 0 5px $colorBlueNeon;
    }
  }

  &-btn-box {
    display: block;
    margin: 150px auto auto auto;
    width: 30%;
    padding: 20px 0;
    position: relative;
  }

  &-link-bottom {
    position: fixed;
    bottom: 6%;
    right: 5%;
  }
  &-link-top{
    position: fixed;
    top: 3.5%;
    left: 2%;

  }
}

// Button CSS
.usableButton{
  text-align: center;
  background: transparent;
  border: none;
  color: $colorBlueNeon;
  font-family: $Iceland;
  font-size: 5em;
  text-transform: uppercase;
  display: block;
  margin: auto;
  text-shadow: 0 0 15px rgba($colorBlueNeon, 1);
  outline: none;
  cursor: pointer;
}

.navLink{
  font-family: $Iceland;
  color: $colorBlueNeon;
  text-transform: uppercase;
  font-size: 2em;
  text-decoration: none;
  text-shadow: 0 0 15px rgba($colorBlueNeon, 1);
  outline: none;
}

.fakeBorderTop, .fakeBorderBottom{
  -webkit-box-shadow: 0 0 10px 5px rgba($colorBlueNeon,0.2);
  -moz-box-shadow: 0 0 10px 5px rgba($colorBlueNeon,0.2);
  box-shadow: 0 0 10px 5px rgba($colorBlueNeon,0.2);
  width: 100%;
  height: 2px;
  background: $colorBlueNeon;
}

.fakeBorderBottom{
  height: 4px;
}


// CSS for particles-js working
.particles {
  height: 100vh;
  width: 100vw;
  background: $colorDark;
  position: absolute;
  top: 0;
  z-index: 0;
}

.container2{
  width: 20vw;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  padding: 80px 0;

}
.title{
  color: $colorBlueNeon;
  text-transform: uppercase;
  font-family: $Iceland;
  font-size: 1.5em;
  text-shadow: 0 0 15px rgba($colorBlueNeon, 1);
  
  
}

.BorderTop, .BorderBottom{
  -webkit-box-shadow: 0 0 10px 5px rgba($colorBlueNeon,0.2);
  -moz-box-shadow: 0 0 10px 5px rgba($colorBlueNeon,0.2);
  box-shadow: 0 0 10px 5px rgba($colorBlueNeon,0.2);
  width: 100%;
  height: 2px;
  background: $colorBlueNeon;
}
.BorderBottom{
  height: 4px;
}
p{
  color:white;
  text-align: justify;
  font-family: $Ubuntu;
  margin:30px 150px;
  font-size: 1.2em;

}
