// import SCSS files from everywhere
@import "../Components/UI/main";
@import "../Components/UI/buttons";
@import "../Components/Particles/particles";
@import "../Components/Select/select";
@import "../Components/Material_tab/tab.scss";

