// This file stock variables from all the project. 

// color variables
$colorBlueNeon: #06D4FE;
$colorOrange: #FEA806;
$colorDark: #121212;
$colorWhite: #FFF;
$colorLightOrange: #FDDC9C;
$colorLightGray: #7E7E7E;
$colorDarkGray: #464646;


// fonts variables
$Iceland: 'Iceland', cursive;
$Ubuntu:'Ubuntu', sans-serif;