# Pour la première utilisation, lancer : docker network create --internal marsAPI
version: '3'
services:
  mars-rover:
    container_name: web_mars-rover
    build: ./
    ports:
      - "8020:80"
    networks:
      - marsAPI
      - frontend
    volumes:
      - ./:/var/www/html
#      - ./apache2.conf:/etc/apache2/apache2.conf

networks:
  marsAPI:
    external:
      name: marsAPI # utilisation du réseau marsAPI déjà existent (sinon, il en créé un nouveau)
  frontend: