version: '3'
services:
  web:
    container_name: web_mars-rover-front
    image: httpd:2.4
    ports:
      - "3000:80"
    volumes:
      - ./:/usr/local/apache2/htdocs
#      - ./apache2.conf:/etc/apache2/apache2.conf

