version: '3'
services:
  web:
    container_name: web_mars-rover-cartes
    build: ./
    ports:
      - "8001:80"
    volumes:
      - ./:/var/www/html
#      - ./apache2.conf:/etc/apache2/apache2.conf

