@import "../../Styles/variables";

.wrapper-form{
    width: 100%;
    margin-top: 40px;
    form{
        border-collapse: collapse;
        width: 50%;
        display: block;
        margin: auto;

        .centerForm{
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
            width: 100%;
        }
    }
    .labelTab{
        color: $colorBlueNeon;
        border-bottom: 2px solid $colorBlueNeon;
        font-family: $Iceland;
        font-size: 1.5em;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        
        h2{
            padding: 15px 0;
            margin: 0;
            text-transform: uppercase;
            text-shadow: 0 0 15px rgba($colorBlueNeon, 1);
        }
    }
    .lightBack{
        background: rgba($colorLightGray, 0.35);
    }
    .darkBack{
        background: rgba($colorDarkGray, 0.35);
    }

    .trLine{
        height: 60px;
        text-align: center;
        display: flex;
        flex-flow: row wrap;
        width: 100%;
        justify-content: space-around;
        align-items: center;
        
        p{
            text-transform: uppercase;
            color: $colorOrange;
            text-shadow: 0 0 15px rgba($colorOrange, 1);
            font-family: $Iceland;
            font-size: 1.5em;
            width: 50%;
            text-align: center;
            margin: 0;
        }
        .radioContainer{
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            justify-content: center;
            width: 50%;
            
            p{
                font-size: 2em;
            }

            .checkContainer {
                display: block;
                position: relative;
                padding-left: 35px;
                margin-bottom: 12px;
                cursor: pointer;
                font-size: 22px;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;

                input{
                    position: absolute;
                    opacity: 0;
                    cursor: pointer;
                    height: 25px;
                    width: 25px;
                    left: 0;
                    z-index: 10;
                }
                .checkmark{
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 25px;
                    width: 25px;
                    border: 2px solid $colorOrange;
                    border-radius: 30%;

                    &::after{
                        top: 9px;
                        left: 9px;
                        width: 8px;
                        height: 8px;
                        border-radius: 50%;
                        background: white;
                    }
                    
                }
    
                &:hover{
                    input, .checkmark{
                        background-color: $colorLightOrange;
                    }
                }
    
                input:checked ~ .checkmark{
                    display: block;
                    background: $colorLightOrange;
                }
            }
        }
    



        .slider {
            -webkit-appearance: none;
            width: 30%;
            margin-right: 10px;
            height: 2px; 
            background: $colorOrange;
            outline: none;
            -webkit-transition: .2s;
            transition: opacity .2s;
          }
          
          .slider::-webkit-slider-thumb {
            -webkit-appearance: none;
            appearance: none;
            width: 17px;
            height: 17px;
            border-radius: 50%; 
            background: $colorLightOrange;
            border: 2px solid $colorOrange;
            cursor: pointer;
          }
          
          .slider::-moz-range-thumb {
            width: 17px;
            height: 17px;
            border-radius: 50%;
            background: $colorLightOrange;
            border: 2px solid $colorOrange;
            cursor: pointer;
          }
    }
}