@import "../../Styles/variables";

$Ice: #80ffff;
$Rock: #d25e0f;
$Sand: #ff9900;
$Minerals: #B31AFF;
$Clay: #ff8a3c;
$Iron: #c0c0c0;
$unknow: black;
$visited-Rover1: blue;
$visited-Rover2: green;
$visited-all-rover: red;

.container-game {

  .hidden{
    display: none;
  }

  #instruction{
    position: fixed;
    right: 0;
    left: 0;
    top: 10px;
  }


  .tableau-bord-rovers{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-around;
    align-content: space-around;

    .rover-round {
        border-color: $colorOrange !important;
    }

    .tableau-bord-rover{
      border: $colorBlueNeon solid 2px;
      border-radius: 10px;
      margin-bottom: 20px;
      padding: 0 10px 10px;
    }

    .text-blue-color{
      color: $colorBlueNeon;
      text-transform: uppercase;
      font-family: $Iceland;
      font-size: 1em;
      padding: 0 10px;
      text-shadow: 0 0 15px rgba($colorBlueNeon, 1);
      outline: none;
    }

  }

  .flex{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }

  .text-center {
    text-align: center !important;
  }

  .img-rover{
    width: 40px;
    height: 40px;
  }

  .map-display {

    margin-top: 50px;
    border-collapse: collapse;

    td {
      width: 5px;
      height: 5px;
      //border: solid 0.5px white;
    }

    .glace {
      background-color: $Ice;
    }

    .roche {
      background-color: $Rock;
    }

    .sable {
      background-color: $Sand;
    }

    .minerai {
      background-color: $Minerals;
    }

    .argile {
      background-color: $Clay;
    }

    .fer {
      background-color: $Iron;
    }

    .inconnue {
      background-color: $unknow;
    }

    .visited-rover-economic {
      background-color: $visited-Rover1;
      opacity: 0.5;
    }

    .visited-rover-short {
      background-color: $visited-Rover2;
      opacity: 0.5;
    }

    .visited-rover-economic.visited-rover-short {
      background-color: $visited-all-rover !important;
      opacity: 0.5;
    }



    .posRover-short{
      background-image: url("../../src/Assets/roverDumb.png") !important;
      //background-color: transparent !important;
      background-repeat:no-repeat;
      background-size:15px;
    }

    .posRover-economic {
      background-image: url("../../src/Assets/roverEco.png") !important;
      //background-color: transparent !important;
      background-repeat:no-repeat;
      background-size:15px;
    }

    .case-finish {
      background-color: greenyellow;
    }


  }
}

.z-100_-90{
  filter: brightness(0);
}

.z-90_-80{
  filter: brightness(0.1);
}

.z-80_-70{
  filter: brightness(0.2);
}

.z-70_-60{
  filter: brightness(0.3);
}

.z-60_-50{
  filter: brightness(0.4);
}

.z-50_-40{
  filter: brightness(0.5);
}

.z-40_-30{
  filter: brightness(0.6);
}

.z-30_-20{
  filter: brightness(0.7);
}

.z-20_-10{
  filter: brightness(0.8);
}

.z-10_0{
  filter: brightness(0.9);
}

.z0_10{
  filter: brightness(1.2);
}

.z10_20{
  filter: brightness(1.4);
}

.z20_30{
  filter: brightness(1.6);
}

.z30_40{
  filter: brightness(1.8);
}

.z40_50{
  filter: brightness(2);
}

.z50_60{
  filter: brightness(2.2);
}

.z60_70{
  filter: brightness(2.4);
}

.z70_80{
  filter: brightness(2.6);
}

.z80_90{
  filter: brightness(2.8);
}

.z90_100{
  filter: brightness(3);
}
