@import "../../Styles/variables";

// Button CSS
.container {
  &-btn-box {
    display: block;
    margin: 50px auto auto auto;
    width: auto;
    padding: 15px 0;
  }

  &-link-bottom {
    position: fixed;
    bottom: 6%;
    right: 5%;
  }
  &-link-top{
    position: fixed;
    top: 3.5%;
    left: 2%;
  }
}

.usableButton{
  text-align: center;
  font-size: 5em !important;
  margin: 10px;
  cursor: pointer;
  text-decoration: none;
  display: block;
}

.navLink{
  font-size: 2em !important;
  text-decoration: none;
  outline: none;
  display: block;
  
}

.fakeBorderTop, .fakeBorderBottom{
  -webkit-box-shadow: 0 0 10px 5px rgba($colorBlueNeon,0.2);
  -moz-box-shadow: 0 0 10px 5px rgba($colorBlueNeon,0.2);
  box-shadow: 0 0 10px 5px rgba($colorBlueNeon,0.2);
  width: 100%;
  height: 2px;
  background: $colorBlueNeon;
}

.fakeBorderBottom{
  height: 4px;
}

.smallAction{
  transition: 0.3s ease-in-out;
  &:hover{
    transform: scale(0.95);
    .fakeBorderBottom,.fakeBorderTop{
      background-color: $colorOrange;
      -webkit-box-shadow: 0 0 10px 5px rgba($colorOrange,0.2);
      -moz-box-shadow: 0 0 10px 5px rgba($colorOrange,0.2);
      box-shadow: 0 0 10px 5px rgba($colorOrange,0.2);
    }
    .usableButton{
      color: $colorOrange;
      text-shadow: 0 0 100px rgba($colorOrange, 1);
      transition: 0.3s ease-in-out;
    }
  }
}