@import "../../Styles/variables";


// General CSS here
body {
  height: 100vh;
  margin: 0;
  padding: 0;
}

main{
  z-index: 10;
  position: relative;
}

.smallAction{

  transition: 0.75s ease-in-out;

  &:hover{
    transform: scale(0.95);

    .fakeBorderBottom,.fakeBorderTop{
      background-color: $colorOrange;
      -webkit-box-shadow: 0 0 10px 5px rgba($colorOrange,0.2);
      -moz-box-shadow: 0 0 10px 5px rgba($colorOrange,0.2);
      box-shadow: 0 0 10px 5px rgba($colorOrange,0.2);
    }
    .usableButton{
      color: $colorOrange;
      text-shadow: 0 0 100px rgba($colorOrange, 1);
    }
  }
}

.barAdd{
  position: relative;
  transition: color 0.2s ease-in-out;

  &::after, &::before{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    height: 2px;
    background-color: $colorOrange;
    transform: scaleX(0);
    transition: transform 0.5s ease;
  }

  &::after{
    bottom: 0;
    transform-origin: center left;
  }

  &::before{
    top: 0;
    transform-origin: center right;
  }

  &:hover{

    color: $colorOrange;
    text-shadow: 0 0 15px rgba($colorOrange, 1);

    &::before{
      transform-origin: center left;
      transform: scaleX(1);
    }

    &::after{
      transform-origin: center right;
      transform: scaleX(1);
    }
  }
}

.container2{
  width: 20vw;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  padding: 80px 0;

}
.title{
  color: $colorBlueNeon;
  text-transform: uppercase;
  font-family: $Iceland;
  font-size: 1.5em;
  text-shadow: 0 0 15px rgba($colorBlueNeon, 1);


}

.BorderTop, .BorderBottom{
  -webkit-box-shadow: 0 0 10px 5px rgba($colorBlueNeon,0.2);
  -moz-box-shadow: 0 0 10px 5px rgba($colorBlueNeon,0.2);
  box-shadow: 0 0 10px 5px rgba($colorBlueNeon,0.2);
  width: 100%;
  height: 2px;
  background: $colorBlueNeon;
}
.BorderBottom{
  height: 4px;
}
p{
  color:white;
  text-align: justify;
  font-family: $Ubuntu;
  margin:30px 150px;
  font-size: 1.2em;

}


header{
  z-index: 10;
  position: relative;
}


.container{
  width: 70vw;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  padding: 50px 0;
  
  svg{
    display: block;
    margin: auto;
    
    g>#circle{
      cursor: crosshair;
      -moz-box-shadow: 0 0 5px $colorBlueNeon;
      -webkit-box-shadow: 0 0 5px $colorBlueNeon;
      box-shadow: 0 0 5px $colorBlueNeon;
    }
  }

  &-btn-box {
    display: block;
    margin: 150px auto auto auto;
    width: 30%;
    padding: 20px 0;
  }

  &-link-bottom {
    position: fixed;
    bottom: 6%;
    right: 5%;
  }
  &-link-top{
    position: fixed;
    top: 3.5%;
    left: 2%;

  }
}