@import "../../Styles/variables";


// General CSS here
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

header {
  z-index: 10;
  position: relative;
}

main{
  z-index: 10;
  position: relative;
}

.title {
  color: $colorBlueNeon;
  text-transform: uppercase;
  font-family: $Iceland;
  font-size: 3em;
  padding: 0 10px;
  text-shadow: 0 0 15px rgba($colorBlueNeon, 1);
  outline: none;
  margin: 10px 0;
}

.paragraph {
  color:white;
  text-align: justify;
  font-family: $Ubuntu;
  margin:30px 150px;
  font-size: 1.2em;
}

.container{
  width: 70vw;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  padding: 50px 0;

  .logoIndex{
    display: block;
    margin: auto auto 100px auto;
    

    g>#circle{
      cursor: crosshair;
      -moz-box-shadow: 0 0 5px $colorBlueNeon;
      -webkit-box-shadow: 0 0 5px $colorBlueNeon;
      box-shadow: 0 0 5px $colorBlueNeon;
    }
  }
}

.barAdd{
  position: relative;
  transition: color 0.2s ease-in-out;
  &::after, &::before{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    height: 2px;
    background-color: $colorOrange;
    transform: scaleX(0);
    transition: transform 0.5s ease;
  }
  &::after{
    bottom: 0;
    transform-origin: center left;
  }
  &::before{
    top: 0;
    transform-origin: center right;
  }
  &:hover{
    color: $colorOrange;
    text-shadow: 0 0 15px rgba($colorOrange, 1);
    &::before{
      transform-origin: center left;
      transform: scaleX(1);
    }
    &::after{
      transform-origin: center right;
      transform: scaleX(1);
    }
  }
}