{% extends 'base.html.twig' %}

{% block title %}Hello GameController!{% endblock %}

{% block body %}

    <table>

    {% for y in range(0, (map|length)-1) %}
        <tr>

        {% for x in range(0, (map[y]|length)-1) %}
            <td class="{% if ice[x~","~y] is defined %}ice{% endif %} {% if road[y][x] is defined %}black{% endif %} ">
                ({{ x~","~y }})<br>
                z={{ map[y][x][0] }}<br>
                Mat={{ map[y][x][1] }}
            </td>
        {% endfor %}
        </tr>
    {% endfor %}
    </table>



{% endblock %}
