
body {
    height: 100vh;
    margin: 0;
    padding: 0;
}

#particles-js {
    height: 100vh;
    width: 100vw;
    background: #121212;
    position: absolute;
    top: 0;
    z-index: 0;

}

main{
    z-index: 10;
    position: relative;
}

.container{
    width: 70vw;
    display: block;
    margin: auto;
    padding: 50px 0;
}

.container>svg{
    display: block;
    margin: auto;
    /* -moz-box-shadow: 0px 0px 5px #06D4FE;
    -webkit-box-shadow: 0px 0px 5px #06D4FE;
    box-shadow: 0px 0px 5px #06D4FE; */
}

.container>svg>g>#circle{
    cursor: crosshair;
    -moz-box-shadow: 0px 0px 5px #06D4FE;
    -webkit-box-shadow: 0px 0px 5px #06D4FE;
    box-shadow: 0px 0px 5px #06D4FE;
}

.container-btn-box{
    display: block;
    margin: auto;
    width: 30%; 
    padding: 20px 0;
    margin-top: 150px;
    position: relative;

}
.borderTop, .borderBottom{
    -webkit-box-shadow: 0px 0px 10px 5px rgba(6,212,254,0.75);
    -moz-box-shadow: 0px 0px 10px 5px rgba(6,212,254,0.75);
    box-shadow: 0px 0px 10px 5px rgba(6,212,254,0.2);
    width: 100%;
    height: 2px;
    background: #06D4FE;
}
.borderBottom{
    height: 4px;
}

.usableButton{
    text-align: center;
    background: transparent;
    border: none;
    color: #06D4FE;
    font-family: 'Iceland', cursive;
    font-size: 5em;
    text-transform: uppercase;
    display: block;
    margin: auto;
    text-shadow: 0px 0px 15px rgba(6, 212, 254, 1);
    
}

.container-btn{
    position: absolute;
    bottom: -10%;
    right: 5%;
}

.blueLink{
    font-family: 'Iceland', cursive;
    color: #06D4FE;
    text-transform: uppercase;
    font-size: 2em;
    text-decoration: none;
    text-shadow: 0px 0px 15px rgba(6, 212, 254, 1);
}
