<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <style>
            table {
                border-collapse: collapse;
            }

            td {
                border: solid 1px grey;
                width: 40px;
                height: 40px;
                font-size: 11px;
            }

            .black {
                background-color: black;
                color: white;
            }

            .blue {
                background-color: #5eb5e0;
            }

            .blue.black {
                background-color: darkblue !important;

            }

            .orange {
                background-color: orange !important;
            }

            .green {
                background-color: green !important;
            }

            .white {
                background-color: white;
            }
        </style>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
