@import "../../Styles/variables";

// CSS for the select button in : choose your play mode, your map & your rover
.wrapper {
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin-top: 50px;

  &-buttons {
    display: flex;
    flex-direction: column;
    flex: 0 0 10%;
  }

  &-view {
    display: flex;
    flex: 0 0 80%;
    align-items: center;
    justify-content: center;
  }
}

.roverName {
  font-size: 25px !important;
}

.imageRover {
  max-width: 100%;
}

.buttonSelect {
  border: 5px solid $colorBlueNeon;
  padding: 20px 30px;
  border-radius: 30px;
  box-shadow: 0 0 10px 5px rgba($colorBlueNeon,0.2);
  width: 100%;
  max-width: 100%;
  height: auto;
}
