@import "../../Styles/variables";

// CSS for the select button in : choose your play mode, your map & your rover
.wrapper {
  display: flex;
  width: 100%;
  margin-top: 50px;
  height: 50vh;

  &-buttons {
    display: flex;
    flex-direction: column;
    flex: 0 0 12%;
    &-column {
      display: flex;
      flex-direction: column;
      flex: 0 0 12%;

    }
    &-row{
      display: flex;
      flex-direction: row;
      margin-top:40px; 
      margin-bottom: 40px;
      width: 100%;
      justify-content: space-evenly;
      align-items: center;
      

    }
  }

  &-view {
    display: flex;
    width: 88%;
    align-items: center;
    justify-content: center;
  }
}


.nameItem {
  font-size: 25px !important;
}

.imageItem {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
  color:rgba($colorBlueNeon,0.2);
}

.wrapper-imageItem {
  width: 70%;
}

.buttonSelect {
  &-row{
    border: 5px solid $colorBlueNeon;
    padding: 20px 30px;
    border-radius: 30px;
    box-shadow: 0 0 10px 5px rgba($colorBlueNeon, 0.2);
    width: 20%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    &:hover{
      border-color: $colorOrange;
      box-shadow: 0 0 10px 5px rgba($colorOrange, 0.2);
    }

    .logoSelect{
      fill: $colorBlueNeon;
    }
    &:hover .logoSelect{
      fill: $colorOrange;
    }
    &:hover svg filter{
      display: none;
    }
  }
  &-column{
    border: 5px solid $colorBlueNeon;
    padding: 20px 30px;
    border-radius: 30px;
    box-shadow: 0 0 10px 5px rgba($colorBlueNeon, 0.2);
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    margin-right:150px;
  }
}

